<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">x
    <meta name="author" content="">

    <title>Stephen Tsoi-A-Sue</title>

    <!-- css references -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">  
    <link href="../static/css/bootstrap-grid.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

  </head>

  <body class='background'>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-head-foot fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Stephen Tsoi-A-Sue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item active navbar-right dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Models</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
                <a class="dropdown-item text" href="https://sleepy-coast-60721.herokuapp.com/">Belly Button Biodiversity Dashboard</a>
                <a class="dropdown-item text" href="#">Webscrape Mars Data</a>
                <a class="dropdown-item text" href="templates/lattitude_analysis.html">Lattitude Analysis</a>
                <a class="dropdown-item text" href="#">Predicting MVP w/ Machine Learning</a>
              </div>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link text" href="#">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Index page heading -->
    <h1 class="my-4 section_title text">Mission to Mars</h1>
    <hr>
    <p class='text'>This page compiles data related to the mission to mars at the push of the provided button.</p>
    <p class='text'>Data scraped includes:</p>
    <ul class='text'>
      <li><strong>Latest Mars News:</strong> The latest News Title and Paragragh Text from the <a href='https://mars.nasa.gov/news/' target='_blank'>NASA Mars News Site</a>.</li>
      <li><strong>Current Weather on Mars:</strong> The Current weather from the <a href='https://twitter.com/marswxreport?lang=en' target='_blank'>Mars Weather twitter account</a>.</li>
      <li><strong>Featured Mars Image:</strong> JPL's Featured Space Image from <a href='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars' target='_blank'>jpl.nasa.gov</a>.</li>
      <li><strong>Mars Facts:</strong> The Mars Planer Profile from <a href='https://space-facts.com/mars/' target='_blank'>space-facts.com</a>.</li>
      <li><strong>Mars Hemispheres:</strong> High resolution images of each of Mars' hemispheres from the <a href='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars' target='_blank'>USGS Astrogeology site</a>.</li>
    </ul>
    <p class='text'>Click the button below to refresh the data.</p>
    <p class='text-center text'><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    
    <!-- Mars News -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading text-center text">Latest Mars News</h2>
        <hr>
        <h4 class="text-center text-2">{{mars.news_title}}</h4>
        <p class='text-2 text-center'>{{mars.news_paragraph}}</p>
      </div>
      <br>
      <div class="col-md-12">
        <!-- weather -->
        <h2 class="heading text-center text">Current Weather on Mars</h2>
        <hr>
        <p class='text-2 text-center'>{{mars.mars_weather}}</p>
      </div>
    </div>
    <br>
    <!-- JPL image, Mars Weather, Mars Facts -->
    <div class="row">
      <div class="col-md-6 text-center">
        <h2 class="heading text-center text">Featured Mars Image</h2>
        <hr>
        <h4 class='text-center text-2'>{{mars.jpl_title}}</h4>
        <img class='img-fluid center' src={{mars.jpl_url}}>
      </div>

      <div class="col-md-6">
        <div class='text-2'>
          <h2 class='heading text-center text'>Mars Facts</h2>
          <hr>
          <table class='table text-center'>
            {{mars.mars_facts|safe}}
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- Mars Hemispheres Title -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading text-center text">Mars Hemispheres</h2>
        <hr>
      </div>
    </div>

    <!-- Mars Hemispheres Images -->
    <div class="row">
      <div class="col-md-6">
        <img class='img-fluid' src={{mars.mars_hem_urls[0].img_url}}>
        <h3 class="heading text-center text-2">{{mars.mars_hem_urls[0].title}}</h3>
        <br>
      </div>

      <div class="col-md-6">
        <img class='img-fluid' src={{mars.mars_hem_urls[1].img_url}}>
        <h3 class="heading text-center text-2">{{mars.mars_hem_urls[1].title}}</h3>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img class='img-fluid' src={{mars.mars_hem_urls[2].img_url}}>
        <h3 class="heading text-center text-2">{{mars.mars_hem_urls[2].title}}</h3>
        <br>
      </div>

      <div class="col-md-6">
        <img class='img-fluid' src={{mars.mars_hem_urls[3].img_url}}>
        <h3 class="heading text-center text-2">{{mars.mars_hem_urls[3].title}}</h3>
        <br>
      </div>
    </div>
  </div>

  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-4 bg-head-foot">
    <div class="container">
      <p class="m-0 text-center text-white">Brought to you by Stephen Tsoi-A-Sue</p>
    </div>
    <!-- /.container -->
  </footer>

  </body>

</html>
